:root{
    --background-color: #3e362e;
    --text-color: #865d36;
    --text-light: #ac8968;
    --shadow-color: #a69080;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
    font-family: Georgia, sans-serif;
}
/*About Me Section Styling*/
.about-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    height: 90vh;
    align-items: center;
    margin: 0 auto;
}
.about h1{
    font-size: 3em;
    text-align: center;
    padding: .2em;
    background-color: var(--text-light);
    color: var(--background-color);
    font-family: monospace;
    font-weight: bold;
    box-shadow: 0 2px 3px var(--text-color);
}
.info1{
    width: 100%;
    padding: 1em;
}
#name{
    font-size: 3em;
    color: var(--text-color);
    text-shadow: 0px 1px 1px var(--shadow-color)
}
#job{
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 4px 10px;
    font-size: 1.5em;
    width: 70%;
}
#description{
    color: var(--text-light);
    font-size: 1em;
    letter-spacing: 2px;
}
#cv{
    padding: 10px 16px;
    color: var(--background-color);
    background-color: var(--text-color);
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 2em;
    cursor: pointer;
    font-weight: bold;
}
#cv:hover{
    background-color: var(--text-light);
    box-shadow: 0px 2px 3px var(--text-color);
}
.info2{
    margin: 0 auto;
}

.info2 img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 3px 10px var(--text-light);
}

.info2 .links{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1em;
    font-size: 1.8em;
    margin-top: 1em;
    border: 1px solid var(--shadow-color);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px var(--text-color);
}
.links i{
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    color: var(--text-color);
}
.links i:hover{
    background-color:#865d36;
    color: #3e362e;
    box-shadow: 0px 2px 4px var(--shadow-color);
}

/*Responsiveness for 960px and above screen size*/

@media (max-width: 1089px){
    #name{
        font-size: 2.5em;
    }
    #job{
        font-size: 1.2em;
    }
}

@media (max-width: 960px){
    .nav-links{
        gap: .5em;
    }
    .nav-links li a{
        margin-right: 1em;
        padding: 8px;
    }
    .about-me{
        width: 96%;
    }
    #name{
        font-size: 2.2em;
    }
    #description{
        font-size: .75em;
    }

}
/*to hide side-bar in width more than 780px */
@media (min-width: 780px){
    .side-bar{
        display: none;
    }


}
/*Responsiveness for 780px screen size*/
@media (max-width: 780px){
    .nav-links{
        display: none;
    }
    #nav-bar{
        display: block;
    }
    .about-me{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        margin-top: 2%;
    }
    .info2 img{
        width: 200px;
        height: 200px;
    }
    .links{
        padding: 4px;
    }
    .info1{
        text-align: center;
    }
    #job{
        margin: 0 auto;
    }
    #cv{
        margin-top: 1em;
    }

}
@media (max-width: 480px) {
    #name{
        font-size: 2em;
    }
    #job{
        font-size: 1em;
    }
    #description{
        font-size: 14px;
    }
}
