:root{
    --background-color: #3e362e;
    --text-color: #865d36;
    --text-light: #ac8968;
    --shadow-color: #a69080;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
    font-family: Georgia, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-color);
    color: var(--background-color);
    width: 100%;
    height: 3.5em;
    text-align: center;
    padding-inline: 1em;
}
.nav-links{
    display: inline-flex;
    list-style-type: none;
    gap: 3em;
    font-family: monospace;
    font-weight: bold;
}
.nav-links li a{
    text-decoration: none;
    color: var(--background-color);
    font-size: 1.5em;
    margin-right: 2em;
    padding: 8px 10px;
}
.nav-links li a:hover{
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 3px var(--shadow-color);
}
/*Side-bar with Navbar links*/
.side-bar {
    background-color: var(--text-color);
    width: 250px;
    height: 100%;
    position: fixed;
    right: -250px; 
    transition: right 0.3s ease; 
    margin-top: .05em;
}
.side-bar.active {
    right: 0;
}

.side-bar-links {
    list-style-type: none;
    flex-direction: column;
    display: flex;
    text-align: left;
    margin: 8% 8%;
    gap: 2em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: monospace;
}

.side-bar-links a {
    text-decoration: none;
    color: var(--background-color);
    padding: 8px;
}

.side-bar-links a:hover {
    background-color: #3e362e;
    color: #865d36;
    border-radius: 5px;
    box-shadow: 0px 1px 2px var(--shadow-color);
}

#nav-bar{
    display: none;
    font-size: 2.5em;
    cursor: pointer;
    padding: 4px 8px;
}
#nav-bar:hover{
    font-size: 2.6em;
    box-shadow: 0px 1px 2px var(--shadow-color);
}
/*
#close-btn{
    display: flex;
    justify-content: flex-end;
}
#close{
    width: 2em;
    padding: 4px;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-light);
    border: 1px solid transparent;
    cursor: pointer;

}
#close:hover{
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0px 1px 3px var(--shadow-color);
}
*/

/*Responsiveness for 960px and above screen size*/
@media (max-width: 960px){
    .nav-links{
        gap: .5em;
    }
    .nav-links li a{
        margin-right: 1em;
        padding: 8px;
    }
}
/*to hide side-bar in width more than 780px */
@media (min-width: 780px){
    .side-bar{
        display: none;
    }
}
/*Responsiveness for 780px screen size*/
@media (max-width: 780px){
    .nav-links{
        display: none;
    }
    #nav-bar{
        display: block;
    }
}